<!DOCTYPE html>
<html>
<%- include('./_head', {page: 'index'}); %>
<body>
<%- include(PATH + '/globals/_header'); %>
<div class="contents">
	<p>コンテンツエリア3333</p>
</div>

<%- include(PATH + '/globals/_footer'); %>
</body>
</html>